Home Page
<ul>
    <li> <a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
    <li> <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a> </li>
</ul>
<ul>
    <li *ngFor="let companyDetails of companies;">
        Name: {{companyDetails.first_name}} {{companyDetails.last_name}} <br> Email: {{companyDetails.email}} <br> Birth Day: {{birthDay | date}}<br> Address : {{address | uppercase}}<br>
        <img src="{{companyDetails.avatar}}">
    </li>

</ul>